/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.jqzoom img{width:380px;height:285px;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:330px;height:195px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:380px;height:285px;border:1px solid #DFDFDF;}
.spec-scroll{clear:both;margin-top:5px;width:382px;}
.spec-scroll .prev,.spec-scroll .next{display:block;width:11px;height:54px;background: url(../images/icon_clubs.png) no-repeat;cursor:pointer;}
.spec-scroll .prev{float:left;margin-right:6px;}
.spec-scroll .next{float:right;background: url(../images/icon_clubs.png) -11px 0 no-repeat;}
.spec-scroll .items{float:left;position:relative;width:345px;height:56px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:56px;}
.spec-scroll .items ul li{float:left;width:85px;text-align:center; cursor:pointer;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:66px;height:50px;}
.spec-scroll .items ul li img:hover{border:2px solid #FF6600;padding:1px;}