@charset "utf-8";

#footer,#footer dl,#footer dt,#footer dd {
    margin: 0px;
    padding: 0px;
    border: 0;
}

/*浮动*/
.clearboth {
    clear: both;
    overflow: hidden;
    _height: 0px;
    font-size: 0px;
    height: 0px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-table;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.wrap {
    width: 1160px;
    margin: 0px auto;
}
#footer {
    margin-top: 10px;
    background: #666;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
}

#footer .f-nav {
    float: left;
    margin-top: 20px;
    width: 801px;
}

#footer .f-nav dl {
    float: left;
    width: 200px;
}

#footer .f-nav dl dt {
    color: #eee;
    font-size: 16px;
    height: 30px;
}

#footer .f-nav dl dd a {
    color: #eee;
}

#footer .f-link {
    float: right;
    width: 300px;
    margin-top: 20px;
}

#footer .f-link .ewm {
    float: left;
    width: 120px;
    height: 120px;
}

#footer .f-link dl {
    float: right;
    width: 160px;
    height: 120px;
    text-align: center;
}

#footer .f-link dl dt {
    display: block;
    color: #eee;
    font-weight: bolder;
    font-size: 13px;
}

#footer .f-link dl dd {
    width: 160px;
}

#footer .f-link dl dd a {
    display: inline-block;
    width: 50px;
    height: 40px;
    color: #eee;
    margin-top: 10px;
}

#footer .f-copy {
    text-align: center;
    border-top: #eee solid 1px;
    color: #eee;
    padding: 20px 0;
    margin-top: 20px;
}

#footer .f-copy a {
    color: #eee;
    text-decoration: underline;
    margin-left: 10px;
}